:host {
  ion-content {
    --background: black;
  }

  ion-toolbar {
    background: black;
    ion-buttons {
      color: white;
      margin-left: 15px;
    }

    ion-title {
      color: white;
      text-align: center;
      margin-right: 50px;
      font-weight: 600;
    }
  }

  .am {
    &__content {
      margin-top: 30px;
      padding: 30px;
      display: flex;
      align-items: center;
      flex-direction: column;

      &__title {
        display: flex;
        height: 22%;
        text-align: center;
        margin-bottom: 70px;
        ion-text {
          color: white;
          top: 91px;
          font-size: 30px;
        }
      }

      &__form {
        &__title,
        &__description,
        &__rate {
          margin-bottom: 25px;
        }
        &__upload-img {
          ion-item {
            --border-color: white;
            max-height: 40px;
            border-radius: 23px;
          }

          input {
            border-radius: 23px;
            width: 100%;
            height: 100%;
          }

          ion-item::part(native) {
            padding: 0;
          }
        }
      }

      &__button {
        padding: 20px;
        border: 1px solid black;
      }
    }
  }

  input[type="file"]::file-selector-button {
    display: inline-flex;
    align-self: flex-start;
    height: 40px;
    background: rgb(2, 180, 2);
    border: 2px solid rgb(2, 180, 2);
    border-radius: 22px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
  }

  .footer {
    background: black;

    &__forgot-password {
      display: flex;
      justify-content: center;
    }
  }
}
