:host {
  ion-content {
    --background: black;
  }

  ion-toolbar {
    background: black;
    ion-buttons {
      color: white;
      margin-left: 15px;
    }

    ion-title {
      color: white;
      text-align: center;
      margin-right: 50px;
      font-weight: 600;
    }
  }

  .fp {
    &__content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 30px 100px 30px;

      &__form {
        &__email {
          &__label {
            text-align: center;
            margin-bottom: 20px;
          }
        }
      }

      &__button {
        margin-top: 20px;
      }
    }
  }
}
