:host {
  ion-input {
    font-size: 14px !important;
  }

  ion-item::part(native) {
    border-radius: 23px;
    min-height: 40px;
  }

  button {
    background: transparent;
  }

  ion-icon {
    font-size: 20px;
  }
}
