:host {
  ion-toolbar {
    ion-title {
      text-align: center;
      margin-right: 50px;
      font-weight: 600;
    }
  }

  ion-content {
    --background: black;
    ion-fab {
      ion-fab-button {
        --background: rgb(2, 180, 2);
      }
    }
  }
}
