:host {
  ion-content {
    --background: black;
  }

  ion-toolbar {
    background: black;
    ion-buttons {
      color: white;
      margin-left: 15px;
    }
  }

  .ve {
    text-align: center;

    &__content {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      align-items: center;
      padding: 25px;
      &__title {
        margin-top: 20px;
        font-size: 36px;
        margin-bottom: 20px;
      }
      &__description {
        strong {
          font-size: 18px;
        }
      }
    }

    &__button {
      border: 1px solid black;
      &__done {
        padding: 15px 30px 10px 30px;
      }
      &__resend-email {
        padding: 10px 30px 10px 30px;
        text-align: center;

        .text {
          margin: 15px 0 10px 0;
        }
      }
    }
  }

  .footer {
    background: black;
  }
}
