:host {
  .header {
    &__toolbar {
      background: rgb(240, 240, 240);
    }
  }

  .content,
  ion-item {
    --background: rgb(240, 240, 240);

    ion-icon,
    ion-label {
      font-weight: 500;
    }

    &__change-logo {
      ion-item {
        ion-icon {
          font-size: 50px;
        }
      }
    }

    button {
      .item-inner {
        .item-detail-icon {
          display: none;
        }
      }
    }
  }

  .content {
    &__logout {
      position: absolute;
      bottom: 0px;

      ion-icon {
        margin: 8px;
      }

      ion-label {
        margin-top: 12px;
      }
    }
  }
}
