:host {
  .item {
    height: 220px;
    --border-color: black;
    border-radius: 8px;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    &__img {
      min-width: 40%;
      border-radius: 8px;
      align-items: flex-start;
      position: relative;
      z-index: 0;

      img {
        display: block;
        width: 170px;
        height: 207px;
        border-radius: 8px;
        margin: 5px;
      }
    }

    &__movie {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 8px;
      min-width: 60%;
      &__title {
        margin-bottom: 20px;
        ion-text {
          font-size: 20px;
          font-weight: 600;
          font-style: oblique;
        }
      }

      &__description {
        margin-bottom: 10px;
        ion-text {
          font-size: 15px;
        }
      }
    }
  }

  .sliding {
    border-radius: 8px 0 0 8px;
    margin: 10px 0px 10px 0px;

    ion-item::part(native) {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  }

  .item-options {
    --border-color: black;
    margin-right: 10px;
    &__option {
      width: 70px;
      background-color: rgb(2, 180, 2);
      border-radius: 0 8px 8px 0;
      color: white;
      font-size: 20px;
    }
  }
}
