:host {
  ion-content {
    --background: black;
  }

  ion-toolbar {
    background: black;
    ion-buttons {
      color: white;
      margin-left: 15px;
    }
  }

  .content {
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__form {
      margin-top: 40px;

      &__img {
        display: flex;
        justify-content: center;
        img {
          width: 150px;
          margin-bottom: 15px;
        }
      }

      &__email {
        margin-bottom: 15px;
      }
    }

    &__button {
      padding: 20px 0px 0 0px;

      &__create-account {
        display: flex;
        justify-content: center;
        color: white;
        margin-top: 15px;
      }
    }
  }

  .footer {
    background: black;

    &__forgot-password {
      display: flex;
      justify-content: center;
    }
  }
}
