:host {
  .back {
    margin-left: 15px;
  }

  .actions {
    font-size: 25px;

    &__edit {
      margin-right: 15px;
      margin-left: 15px;
    }
  }
  ion-content {
    --background: black;
  }

  ion-toolbar {
    background: black;
    ion-buttons {
      color: white;
    }
  }
  .md {
    &__title {
      color: white;
      text-align: center;
      font-size: 40px;
      font-weight: 600;
      margin-top: 5px;
    }
    &__content {
      margin: 10px 20px 0px 20px;

      &__img {
        img {
          border-radius: 8px;
        }
      }
      &__description {
        color: white;
        text-align: center;
      }

      &__rate {
        color: white;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 20px;

        &__title {
          margin-bottom: 10px;
        }
      }
    }
  }
}
