:host {
  ion-content {
    --background: black;
  }

  ion-toolbar {
    background: black;
    ion-buttons {
      color: white;
      margin-left: 15px;
    }

    ion-title {
      color: white;
      text-align: center;
      margin-right: 50px;
      font-weight: 600;
    }
  }

  .em {
    &__form {
      padding: 30px;

      &__img {
        text-align: center;
        margin-bottom: 20px;

        img {
          height: 400px;
          border-radius: 20px;
        }
      }
      &__title {
        margin-bottom: 15px;
      }

      &__rate {
        margin: 20px 0 0 10px;
        display: flex;
        align-items: center;
        &__title {
          color: white;
          margin-right: 12px;
          font-size: 18px;
        }
      }
    }

    &__button {
      padding: 30px;
      border: 1px solid black;
    }
  }

  .footer {
    background: black;
  }
}
