:host {
  justify-content: unset;

  .main {
    position: relative;

    &__close_button {
      display: flex;
      justify-content: flex-end;
      height: 32px;

      ion-button {
        height: inherit;
        margin: 0;
        padding-right: 10px;
        padding-top: 10px;
      }

      &__icon {
        align-items: flex-end;
      }
    }

    &__body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__content {
        display: flex;
        flex-direction: column;
        margin-bottom: 19px;
        margin-top: 20px;
        text-align: center;

        ion-label{
            font-size: 18px;
        }

        &__title {
          margin-top: 16px;
          margin-bottom: 8px;
        }

        &__description {
          text-align: center;
          padding: 0 10px;
        }
      }
    }

    &__actions {
      width: 95%;
      display: flex;
      justify-content: space-evenly;
    }
  }
}
