:host {
  ion-content {
    --background: black;
  }

  ion-toolbar {
    background: black;
    ion-buttons {
      color: white;
      margin-left: 15px;
    }
  }

  .content {
    height: 100%;
    &__title {
      color: white;
      margin-top: 70px;
      margin-bottom: 70px;
      text-align: center;
      font-size: 30px;
    }
    &__form {
      padding: 30px;

      &__email {
        margin-bottom: 15px;
      }
    }

    &__button {
      padding: 30px;
    }
  }
}
