:host {
  ion-content {
    --background: black;
  }

  ion-toolbar {
    background: black;
    ion-buttons {
      color: white;
      margin-left: 15px;
    }
  }

  .content {
    height: 100%;
    &__title {
      color: white;
      margin-top: 70px;
      margin-bottom: 70px;
      text-align: center;
      font-size: 30px;
    }

    &__img {
      display: flex;
      justify-content: center;
      margin-bottom: 70px;
      img {
        width: 150px;
        margin-bottom: 15px;
      }
    }

    &__upload-img {
      ion-item {
        --border-color: black;
        border-radius: 12px;
        height: 100%;
        margin: 40px;
      }

      ion-item::part(native) {
        padding: 0;
      }
    }

    &__button {
      padding: 20px;
    }
  }
  input[type="file"]::file-selector-button {
    height: 50px;
    background: rgb(2, 180, 2);
    padding: 11px;
    border: 2px solid rgb(2, 180, 2);
    border-radius: 10px;
    color: #fff;
    width: 150px;
    font-size: 15px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
  }

  .footer {
    background: black;

    &__forgot-password {
      display: flex;
      justify-content: center;
    }
  }
}
